if (errors)
  ul
    each val in errors
      li= val.message

//- fix markup

if (success_message != '') 
  div= success_message

if (error_message != '') 
  div= error_message

if (error != '') 
  div= error

