extends layout

block content
  div(class="row mt-5")
    div(class="col-md-6 m-auto")
      div(class="card card-body text-center")
        div
          i(class="fa fa-address-card fa-3x")
        div
          i(class="fas fa-calendar-check")

        p Create an Account or Login
        a(class="btn btn-secondary btn-block mb-2" href="users/register") Register
        a(class="btn btn-secondary btn-block mb-2" href="users/login") Login