extends layout

block content
  div(class="row mt-5")
    div(class="col-md-6 m-auto")
      div(class="card card-body text-center")
         span(class='fas fa-clipboard-list')
         div(class="fas fa-arrows-alt")
         p Create an Account or Login
         a(class="btn btn-secondary btn-block mb-2" href="users/register") Register
         a(class="btn btn-secondary btn-block mb-2" href="users/login") Login
//-   h1 welcome

//-   a(class="btn btn-primary" href="users/login") login
//-   br
//-   br
//-   a(class="btn btn-secondary" href="users/register") register
//-   h1
//-     i(class="fab fa-node-js fa-3x")
//-   div
//-     i(class="fas fa-camera")
//-     i(class="fa fa-car")
//-     i(class="fa fa-car" style="font-size:48px;")
//-     i(class="fa fa-car" style="font-size:60px;color:red;")


//- <div class="row mt-5">
//-   <div class="col-md-6 m-auto">
//-     <div class="card card-body text-center">
//-       <h1><i class="fab fa-node-js fa-3x"></i></h1>
//-       <p>Create an account or login</p>
//-       <a href="/users/register" class="btn btn-primary btn-block mb-2"
//-         >Register</a
//-       >
//-       <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
//-     </div>
//-   </div>
//- </div>